
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
body{
    background-color: rgb(231, 185, 145);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}
.calculadora {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 2rem;
    border: rgb(11, 11, 11);
}

.calculadora-display {
    padding: 25px 15px;
    width: 500px;
    text-align: right;
    border: 1px solid rgb(13, 12, 12);
    overflow-x: auto;
}

.calculadora-keypad {
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-button{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: rgb(173, 240, 168);
    border: 1px solid rgb(9, 8, 8);
}

.keypad-button:hover {
    filter: brightness(80%);
    transition: filter .25s;
}

.keypad-button.yellow {
    background-color: rgb(230, 166, 71);
}

.keypad-button.large{
    width: 50%;
}
.keypad-button.calcular{
    width: 75%;
}
.keypad-button.dark {
    background-color: rgb(230, 166, 71);
}